.nav{
  background-color: transparent;
  width: 100vw;
  height: 4em;
}

.nav-container{
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  width: 70%;
  height: 100%;
  justify-content: space-between;
  align-items: center;
}

.nav-buttons-container{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 10em;
}

.fa-sun-plant-wilt{
  color: rgb(178, 240, 86);
  font-size: 2em;
}

/* Media query  */
@media screen and (max-width: 500px){
  .nav-container{
    width: 90%;
  }
}